$black: #212529;
$white: #fff;
$darkViolet: #161b37;
$violet: #A83BB1;
$blue: #367fbd;
$grayBlue: #86A5C1;
$red: #e2243c;
$pink: #fe3e77;
$dark: #212121;
$gray: #949494;
$lgray: #ccc;
$mgray: #b8b8b8;
$yellow: #ffd223;
$green: #49a41f;
$main: #E74F2F;

$lightGray: #f3f3f3;
// $lightGray: #eeeeee;

/* media breakpoints */

$w1660: 1660px;
$w1440: 1440px;
$w1376: 1376px;
$w1280: 1280px;
$w1100: 1100px;
$w1024: 1025px;
$w940: 940px;
$w760: 769px;
$w680: 679px;
$w580: 580px;
$w480: 480px;
$w360: 360px;

/*  */