.box-tags {


    & li {

        display: inline-block;



        & a {
            font-weight: 500;
            font-size: rem(11);
            line-height: rem(14);
            text-transform: uppercase;
            color: #5C5C5C;

            background: #E5E5FF;
            padding: rem(7) rem(10) rem(6) rem(10);

            margin-right: rem(2);
            margin-bottom: rem(2);
            margin-top: rem(2);
            display: block;

            letter-spacing: 0.05em;

            &:hover {
                background-color: #FFD223;
            }
        }


    }
}