mixin faq(data)
  .faq
    .faq__item
      each item in data
        .faq-item
          .faq-item__question

            .faq-item__title= item.title
            .faq-item__arrow
              +icons('#ic_arrow-right', 22)
          .faq-item__answer
            each text in item.answer 
              p!= text