mixin table
  <table >
    <colgroup>
      <col style="width: 142px">
      <col style="width: 144px">
      <col style="width: 140px">
      <col style="width: 138px">
      <col style="width: 151px">
      <col style="width: 154px">
      <col style="width: 100px">
      <col style="width: 177px">
    </colgroup>
    <thead>
      <tr>
        <th rowspan="2">Год</th>
        <th colspan="3">Вязкость SAE</th>
        <th rowspan="2">Бензин API</th>
        <th rowspan="2">Дизель API</th>
        <th rowspan="2">Тип</th>
        <th rowspan="2">Рекомендуемые<br>производители</th>
      </tr>
      <tr>
        <th class="fs13" ><span> Всесезон</span><br>от +25 до -25 °C</th>
        <th class="fs13" ><span>Зима</span><br>от -35 до +5 °C</th>
        <th class="fs13" ><span>Лето</span><br>от -5 до +45 °C</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2005</td>
        <td>10W-40<br>5W-40</td>
        <td>5W-40<br>0W-30</td>
        <td>20W-40<br>25W-30<br>25W-40</td>
        <td>SH</td>
        <td>CH-4</td>
        <td>полусинтетика, минералка</td>
        <td>Mobil, ZIC, Лукойл, Valvoline, Роснефть, Select</td>
      </tr>
      <tr>
        <td>2006</td>
        <td>15W-40<br>10W-40<br>5W-40</td>
        <td>0W-30<br>5W-40<br>5W-30</td>
        <td>20W-30<br>20W-40<br>25W-30</td>
        <td>SJ</td>
        <td>CH-4</td>
        <td>полусинтетика, минералка</td>
        <td>Mobil, Лукойл, Valvoline, Роснефть, CONSOL</td>
      </tr>
      <tr>
        <td>2007</td>
        <td>15W-40<br>10W-40<br>5W-40</td>
        <td>0W-30<br>5W-40<br>5W-30</td>
        <td>20W-30<br>20W-40<br>25W-30</td>
        <td>SJ</td>
        <td>CH-4</td>
        <td>полусинтетика, минералка</td>
        <td>Mobil, Лукойл, Valvoline, Роснефть, CONSOL</td>
      </tr>
    </tbody>
    </table>