mixin minicard(data)
  .minicard(class=""+(data == 2 || data == 4 ? 'minicard--blur':'')+"")

    if data == 2
      .minicard__blur
        span Продано
    if data == 4
      .minicard__blur
        span Закрытая <br> продажа

    .minicard__image
      +bgimage('/img/catalog/'+data+'.jpg')
      span.id-catalog Дом ID 5613

    .minicard__desc
      .minicard__props
        ul
          li Отделка: <span>Без отделки</span>
          li Площадь: <span>775 м2</span>
          li Участок: <span>23 сот.</span>
      .minicard__price
        .minicard__usd 1 0016 811 $
        .minicard__rub  66 977 341 руб

    .minicard__btn: button.btn.btn-line.btn-full(data-fancybox="catalog" data-type="ajax" data-src="_popup-card.html") Подробнее