//- include ../../../data/carFooter


.footer.footer--red
  .container
    .footer__wrp
      .footer__item Аннекс-проект © 2014 <br> Республика Беларусь <br> Могилев 
      .footer__item
        .footer__title  Телефоны:
        .footer__list
          ul
            li: a(href="80222704370") тел\факс 8 (0222) 70-43-70
            li: a(href="+375296856502") Velcom: +375 (29) 685-65-02
            li: a(href="+375256856502") Life: +375 (25) 685-65-02
            li: a(href="+37529287669") МТС: +375 (29) 287-66-9

      .footer__item
        .footer__title  Адрес:
        .footer__list
          ul
            li Могилев, пр. Пушкинский, д.16 

      .footer__item
        span.liveinternet






