-

  const product = [
    {
      'text': 'Органайрер в багажник',
      'image': '../img/product/pr1.jpg',
      'sale': '53%'
    },
    {
      'text': 'Накидка органайзер',
      'image': '../img/product/pr2.jpg',
      'sale': '25%'
    },
    {
      'text': 'Подушка подголовник',
      'image': '../img/product/pr3.jpg',
      'sale': '62%'
    },
    {
      'text': 'Багажная сетка',
      'image': '../img/product/pr4.jpg',
      'sale': '29%'
    },
    {
      'text': 'Накидка от ног ребенка',
      'image': '../img/product/pr5.jpg',
      'sale': '53%'
    },
    {
      'text': 'Накидка органайзер в багажник',
      'image': '../img/product/pr6.jpg',
      'sale': '25%'
    },

  ]

